<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Политика Конфиденциальности GamerPro</title>
    <style>
        body {
            margin: 0;
        }
        .content {
            padding: 25px;
        }
        .logo {
            height: 100px;
            width: 100px;
        }
        .header {
            background: black;
            padding: 25px;
            margin: 0;
            color: white;
            display: flex;
            align-items: center;
        }
        .namediv {
            font-size: 50pt;
            font-family: system-ui;
            margin-left: 25px;
        }
    </style>
</head>
<body>
    <div class="header">
        <img class="logo" src="{% static 'images/bro_logo.png' %}" alt="Logo BRO">
        <div class="namediv">BRO</div>
    </div>
    <div class="content">
        <h1>Платежи</h1>
        <h2>Оплата банковской картой онлайн</h2>
        <p>{% if trader_name %}{{trader_name}}{% else %}ИП "Benefit" и ИП "BRO"{% endif %} (далее – «Услугодатель») подключен к интернет- эквайрингу, и каждый Потребитель / Клиент может оплатить Услуги банковской картой Visa или Mastercard. После подтверждения выбранного товара и/или услуги откроется защищенное окно с платежной страницей ТОО «OneVision», где Потребителю / Клиенту необходимо ввести данные своей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3-D Secure. Если Банк-эмитент Потребителя / Клиента поддерживает данную технологию, Потребитель / Клиент будет перенаправлен на его сервер для прохождения дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации необходимо уточнить в Банке, выдавшем Потребителю / Клиенту банковскую карту.</p>
        <p>Услуга онлайн-оплаты осуществляется в соответствии с правилами Международных платежных систем Visa и MasterCard на принципах соблюдения конфиденциальности и безопасности совершения платежа, для этого используются самые актуальные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется в защищенном окне на платежной странице ТОО «OneVision».</p>
        <p>В поля на платежной странице требуется ввести номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные отображены на поверхности банковской карты.
        <p>CVV2/ CVC2 — это трёхзначный код безопасности, находящийся на оборотной стороне карты.</p>

        <p>Далее, в том же окне откроется страница Банка-эмитента Потребителя / Клиента для ввода 3-D Secure кода. В случае, если у Потребителя / Клиента не настроен статичный 3-D Secure, он будет отправлен на номер телефона Потребителя / Клиента посредством SMS. Если 3-D Secure код не пришел Потребителю / Клиенту, то следует обратится в Банк-эмитент Потребителя / Клиента.
        3-D Secure — это самая современная технология обеспечения безопасности платежей по картам в сети интернет, который позволяет однозначно идентифицировать подлинность держателя карты, осуществляющего операцию, и максимально снизить риск мошеннических операций по карте.
        Гарантии безопасности.
        ТОО «OneVision» защищает и обрабатывает данные банковской карты Потребителя / Клиента по стандарту безопасности PCI DSS 3.0. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. ТОО «OneVision» не передает данные карты Потребителя / Клиента третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3-D Secure.
        В случае, если у Потребителя / Клиента есть вопросы по совершенному платежу, он может обратиться в службу поддержки клиентов платежного сервиса по электронной почте support@onevision.kz.
        </p>
        <h2>Безопасность онлайн-платежей</h2>
        <p>Предоставляемая Потребителем / Клиентом персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные кредитной карты Потребителя / Клиента передаются только в зашифрованном виде и не сохраняются на Web-сервере ТОО «OneVision».
        Безопасность обработки Интернет-платежей гарантирует ТОО «OneVision». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используются специализированные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.
        Оплата платежными картами безопасна, по причине того что:
        Система авторизации гарантирует Потребителю / Клиенту, что платежные реквизиты его платежной карты (номер, срок действия, CVV2/CVC2) не попадут в руки мошенников, так как эти данные не хранятся на сервере авторизации и не могут быть похищены.
        Потребитель / Клиент вводит свои платежные данные непосредственно в системе авторизации ТОО «OneVision», а не на сайте Услугодателя, следовательно, платежные реквизиты карточки Потребителя / Клиента не будут доступны третьим лицам.
        Возврат денежных средств.
        </p>
        <p>При проведении онлайн-оплаты посредством платежных карт не допускается возврат наличными денежными средствами. Порядок возврата регулируется правилами международных платежных систем:
        При отказе от товара и/или услуг со стороны Потребителя / Клиента, Услугодатель обязан вернуть Потребителю / Клиенту денежную сумму, уплаченную им, не позднее чем через 10 (десять) календарных дней со дня предъявления Потребителем / Клиентом соответствующего требования.
        Для возврата денежных средств на банковскую карту необходимо заполнить Заявление о возврате денежных средств, по месту нахождения администрации Услугодателя.
        Возврат денежных средств будет осуществлен на банковскую карту в течение 7 (семи) рабочих дней со дня получения Заявления о возврате денежных средств Услугодателем.
        Для возврата денежных средств по операциям, проведенным с ошибками, необходимо обратиться с письменным заявлением и приложением копии документа, удостоверяющего личность, и чеков / квитанций, подтверждающих ошибочное списание. Указанное заявление необходимо направить на электронный адрес:
        almasakasov@gmail.com
        Сумма возврата будет равняться сумме приобретения товара и/или услуг. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Услугодателем Заявления и рассчитывается в рабочих днях, без учета праздников / выходных дней.
        </p>
        <p>Отказ в совершении платежа могут быть в следующих случаях:</p>
        <p>Банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Банк- эмитент Потребителя / Клиента;
        Недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на платежной карте Потребитель / Клиент может узнать, обратившись в банк, выпустивший банковскую карту;
        Данные банковской карты введены неверно;</p>
        <p>При истечении срока действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк- эмитент.
По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой приложения “BRO”, Вы можете обратиться по следующим телефонам: +7(747)1313123</p>

</div>
</body>
</html>