<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Политика Конфиденциальности GamerPro</title>
    <style>
        .logo {
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
<img class="logo" src="{% static 'images/bro_logo.png' %}" alt="Logo BRO">
<h1>Публичная Оферта</h1>
<h2>1. Общие положения</h2>
<p>1.1. Исполнитель публикует настоящую Оферту с предложением в адрес
юридических лиц и индивидуальных предпринимателей,
осуществляющих реализацию своих Товаров и оказывающих услуги по
средствам и с использованием сайта Исполнителя в соответствии со
ст.395, 396 и 447 Гражданского кодекса Республики Казахстан (далее –
ГК РК).</p>
<p>1.2. Настоящая Оферта, как и любой Договор, определяет существенные
условия взаимодействия между Исполнителем и Заказчиком (лицом
акцептовавшим Оферту).</p>
<p>1.3. Настоящая Оферта заключается между Исполнителем и Заказчиком
в момент оформления заказа на оказание услуг по использованию сайта
Исполнителя, с целью реализации своих Товаров и оказания своих услуг
третьим лицам.</p>
<p>1.4. Оферта может быть принята любым юридическим лицом и/или
индивидуальным предпринимателем на территории Республики
Казахстан, имеющим намерение использование сайта Исполнителя для
реализации своих товаров услуг, связанных с бронированием третьими
лицами места и оборудования принадлежащего Заказчику в рамках
деятельности игровых клубов.</p>
<p>1.5. Заказчик безоговорочно принимает все условия, содержащиеся в
оферте в целом (т.е. в полном объеме и без исключений).</p>
<p>1.6. В случае принятия условий настоящей Оферты, юридическое лицо
или индивидуальный предприниматель, становится Заказчиком.</p>
<p>1.7. Акцептом является получение Исполнителем сообщения о
намерении юридического лица или индивидуального предпринимателя
разместить на сайте Исполнителя информации о своих Товарах и
услугах.</p>
<p>1.8. Оферта, все изменения, приложения к ней, а также вся
дополнительная информация об услугах Исполнителя опубликованы на
сайте _________________ и в приложении ______________________</p>
<p>1.9. При использовании приложения ________ возможно осуществление
Безакцептных платежей, осуществляемых по средствам электронного
банкинга.</p>
<p>1.10. Введение данных банковской карты Заказчика и оплата им услуг
Исполнителя (поступление денежных средств Исполнителю по
средствам электронного банкинга), является безусловным Акцептом со
стороны последнего и дает основание к оказанию услуг Заказчику.</p>
<h1>2. Статус сайта исполнителя</h1>
<p>2.1. Сайт является собственностью Исполнителя и предназначен для
организации дистанционного способа продажи услуг посредством сети
интернет.</p>
<p>2.2. Произведя акцепт Оферты (намерение разместить информацию
своих Товарах и услугах на сайте Исполнителя), Заказчик получит услуги
на условиях и в порядке, определенном Договором на оказание услуг
Исполнителя.</p>
<p>2.3. Исполнитель не несет ответственности за содержание и
достоверность информации, предоставленной Заказчиком при
оформлении заказа на сайте Исполнителя.</p>
<h2>3. Статус заказчика</h2>
<p>3.1. Заказчик несет ответственность за достоверность предоставленной
при размещении на сайте Исполнителя своей информации о своих
Товарах и услугах, и ее чистоту от претензий третьих лиц.</p>
<p>3.2. Заказчик подтверждает свое согласие с условиями, установленными
настоящей Офертой, путем проставления отметки в графе «Условия
Договора мною прочитаны полностью, все условия Договора мне
понятны, со всеми условиями Договора я согласен» при оформлении
заказа, на размещение информации.</p>
<p>3.3. Информация, предоставленная Заказчиком, является
конфиденциальной. Заказчик, предоставляя свои персональные данные,
зарегистрировавшись на сайте или заполнении заявки дает своими
действиями согласие на обработку его персональных данных в целях
исполнения пользовательского соглашения. Исполнитель использует
информацию о Заказчике исключительно в целях функционирования
Исполнителя (отправление уведомления Заказчиком о выполнении
заказа и т.д.) и в случаях, указанных в настоящей Оферте.</p>
<p>3.4. Услуги приобретаются Заказчиком исключительно для
осуществления предпринимательской деятельности. Использование
сайта (ресурса) Исполнителя для просмотра и выбора услуг Заказчика
третьими лицами, а так же для оформления заказа является для
Заказчика возмездным, и составляют _____% (______ процента) от
стоимости реализации Товара и оказания услуг Заказчиком третьим
лицам.</p>
<h2>4. Предмет оферты</h2>
<p>4.1 Исполнитель, на основании акцепта Заказчика, предоставляет
последнему услуги по размещению информации Заказчика на своем
сайте в соответствии с условиями и по ценам, установленным
Исполнителем.</p>
<p>4.2. Оказание услуг заказанных и оплаченных Заказчиком,
осуществляется Исполнителем или третьими лицами, привлеченными
Исполнителем для исполнения своих обязательств.</p>
<p>4.3. К отношениям между Заказчиком и Исполнителем применяются
положения ГК РК, а также иные нормативные правовые акты Республики
Казахстан, регулирующие указанные в настоящей Оферте права и
обязанности Сторон.</p>
<p>4.4. Юридическое лицо или индивидуальный предприниматель считается
принявшим все условия Оферты (акцепт) и приложений к ней в полном
объеме и без исключений с момента получения Исполнителем
сообщения о намерении Заказчика заказать услуги по размещению на
сайте своей информации на условиях, предложенных Исполнителем. В
случае акцепта Оферты юридическое лицо или индивидуальный
предприниматель считается заключившим с Исполнителем Договор
оказания услуг по размещению информации и приобретает статус
Заказчика.</p>
<h2>5. Порядок заключения договора
купли-продажи</h2>
<p>5.1. Заказчик может оформить заказ самостоятельно на сайте
Исполнителя, либо через специалиста Исполнителя по телефону,
указанному на сайте, на условиях Договора оказания услуг.</p>
<p>5.2. При оформлении заказа на сайте Исполнителя, Заказчик обязан
предоставить следующие данные:
● Ф.И.О., ИИН (для Индивидуальных предпринимателей) или полное
наименование, БИН (для юридических лиц);
● полные реквизиты;
● контактный телефон и адрес электронной почты Заказчика.</p>
<p>5.3. Волеизъявление Заказчика осуществляется посредством внесения
последним соответствующих данных в форму заказа на сайте
Исполнителя, либо подачей заявки через специалиста Исполнителя с
использованием информационно-телекоммуникационных средств или по
электронной почте (e-mail).</p>
<p>5.4. Исполнитель не редактирует информацию о Заказчике.</p>
<p>5.5. Для получения бумажного экземпляра Договора оказания услуг,
Заказчик отправляет заявку по электронной почте или иным способом,
согласованным со специалистом Исполнителя по телефону, указанному
на сайте Исполнителя.</p>
<h2>6. Информация об услуге</h2>
<p>6.1. Информация об услугах Заказчика, предоставляются к показу на
сайте Исполнителя через графические изображения и информацию,
являющиеся собственностью Исполнителя. При этом Заказчик несет
полную юридическую ответственность за достоверность размещенной
информации и ее законность.</p>
<p>6.2. Каждое графическое изображение, сопровождается текстовой
информацией с наименованием, ценой и описанием услуг.</p>
<p>6.3. Все информационные материалы, представленные на сайте
Исполнителя, носят справочный характер и не могут в полной мере
передавать информацию о свойствах и характеристиках услуг и товарах
Заказчика. В случае возникновения у третьих лиц вопросов, касающихся
свойств и характеристик услуг и товаров Заказчика, Заказчик несет
полную материальную и иную ответственность перед третьими лицами
самостоятельно.</p>
<p>6.4. По просьбе Заказчика специалист Исполнителя обязан предоставить
(по телефону или посредством электронной почты) прочую информацию,
необходимую и достаточную, для принятия им решения о заказе услуг.</p>
<h2>7. Порядок приобретения (заказа)
услуг</h2>
<p>7.1. Заказчик вправе оформить заказ на размещение информации о
своем Товаре и услуге на сайте Исполнителя.</p>
<p>7.2. Заказ на размещение может быть оформлен Заказчиком по
телефонам, указанным на сайте, или оформлен самостоятельно на
сайте. В случае когда заказ на размещение оформляется Заказчиком
самостоятельно на сайте, последний ставит в известность Исполнителя
о таком размещении и Исполнитель активирует ссылку Заказчика на
сайте.</p>
<p>7.3. После оформления заказа Исполнитель подтверждает заказ
Заказчика путем отправления на e-mail Заказчика информацию,
подтверждающую принятие заказа, с указанием наименования, вида и
характеристик услуги с указанием общей суммы (вознаграждения
Исполнителя) или специалист Исполнителя связывается с Заказчиком по
телефону для уточнения необходимых характеристик услуг.</p>
<p>7.4. При невозможности оказания услуги, представленной на сайте
Исполнителя, специалист последнего обязан поставить в известность об
этом Заказчика (по телефону или посредством электронной почты).</p>
<p>7.5. Срок оказания услуги устанавливается по соглашению Сторон и/или
определяется Договором об оказании услуг, размещенном на сайте
Исполнителя.</p>
<h2>8. Цена услуг</h2>
<p>8.1. Цена указанная на сайте Исполнителя указана в тенге Республики
Казахстан.</p>
<p>8.2. Указанная на сайте цена может быть изменена Исполнителем в
одностороннем порядке, при этом цена на заказанные и оплаченные
Заказчиком услуги изменению не подлежит.</p>
<p>8.3. Стоимость услуг, предоставляемых Заказчику при их заказе на сайте
Исполнителя указана в разделе «Оплата».</p>
<p>8.4. Исполнитель обладает правом и возможностью принятия платежей
за услуги Заказчика, о чем последний дает безакцепное поручение
Исполнителю в момент подключения к приложению.</p>
<h2>9. Оплата услуг</h2>
<p>9.1. Способы и порядок оплаты указаны на сайте в разделе «Оплата».
При необходимости порядок и условия оплаты услуги оговариваются
Заказчиком со специалистом Исполнителя.</p>
<p>9.2. При наличной форме оплаты Заказчик обязан уплатить
Исполнителю цену услуги в момент выставления и передачи Заказчику
счета на оплату услуг, путем передачи денег представителю
Исполнителя.</p>
<p>9.3. Оплата безналичным расчетом производится согласно
оформленному счёту в течение 3(трёх) рабочих дней с даты
выставления такого счёта. После поступления денежных средств на счет
Исполнителя. При безналичной форме оплаты обязанность Заказчика по
уплате услуги считается исполненной с момента зачисления
соответствующих денежных средств на расчетный счет, указанный
Исполнителем.</p>
<p>9.4. Заказчик оплачивает услугу любым способом, доступным на сайте
Исполнителя.</p>
<p>9.5. Взаиморасчеты между Сторонами производятся в течение трех
банковских дней. Сверка взаиморасчетов производится не позднее 10-го
числа каждого следующего месяца идущего за месяцем в котором были
оказаны услуги.</p>
<p>9.6. Расчеты Сторон при оплате услуги осуществляются в тенге
Республики Казахстан.</p>
<h2>10. Отказ от услуги</h2>
<p>10.1. Заказчик вправе отказаться от услуг в порядке и на условиях,
предусмотренных ГК РК</p>
<p>10.2. Заказчик не вправе отказаться от услуг выполненных (оказанных)
надлежащим образом.</p>
<p>10.3. В случае отказа Заказчиком от услуг Исполнителя, при наличии
вины или невозможности оказания предусмотренных услуг последним,
возврат осуществленной оплаты производится в течении 30-ти
банковских дней, с момента предъявления претензии в адрес
Исполнителя и принятии ее последним.</p>
<h2>11. Ответственность сторон</h2>
<p>11.1. Стороны несут ответственность в соответствии с
законодательством РК.</p>
<p>11.2. Исполнитель не несет ответственности за ущерб, причиненный
Заказчику вследствие ненадлежащего использования им результатов
услуг, заказанных на сайте Исполнителя.</p>
<p>11.3. Стороны освобождаются от ответственности за неисполнение или
ненадлежащее исполнение обязательств по Оферте на время действия
обстоятельств непреодолимой силы.</p>
<h2>12. Прочие условия</h2>
<p>12.1. К отношениям между Заказчиком и Исполнителем применяются
нормы, определенные законодательством Республики Казахстан.</p>
<p>12.2. При необходимости Исполнитель и Заказчик вправе в любое время
оформить договор оказания услуг в форме письменного двухстороннего
соглашения, не противоречащего положениям настоящей Оферты.</p>
<p>12.3. В случае возникновения вопросов и претензий со стороны
Заказчика, последний должен обратиться к Исполнителю по адресу
местонахождения Исполнителя _____________________, и/или по
адресу электронной почты: ____________________и/или по номеру
телефона: +7 747 395 64 80, в том числе определенным на сайте
Исполнителя.</p>
<p>12.4. Настоящая Оферта вступает в силу с даты её акцепта Заказчиком и
действует до полного исполнения обязательств Сторонами по ней.</p>
<p>12.5. Все споры и разногласия, возникающие при исполнении Сторонами
обязательств по настоящей Оферте, решаются путем проведения
переговоров, а в случае невозможности их урегулирования посредством
переговоров, Стороны имеют право обратиться за разрешением таких
споров в судебные органы республики Казахстан по месту нахождения
Исполнителя.</p>
<p>12.6. Исполнитель оставляет за собой право расширять и сокращать
общее предложение услуг на сайте, регулировать доступ к заказе любых
услуг, а также приостанавливать или прекращать продажу любых услуг
по своему собственному усмотрению.
Юридическое лицо
Наименование: ИП Hatori Hanzo
Адрес: Акмолинская область, город Астана, улица Азербайджан
Мамбетов, 16, 21
ИИН: 910130350407
р/с в тенге: KZ__________________
в банке: ______________________
БИК: _______________________
БИН банка: __________________
ОКПО: __________________</p>
</body>
</html>