<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Payments Reports</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style type="text/css">
        .topbar {
            background-color: rgb(78, 115, 223) !important;
            font-size: 18pt;
            color: white;
            padding: 8px 28px;
        }
        .backend-data-font {
            font-size: 18pt; /* Размер шрифта */
            color: #000000; /* Цвет шрифта */
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <form method="GET" action="">
                    <div class="form-group row">
                        <label for="club_branch" class="col-sm-3 col-form-label">Филиал:</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="club_branch" name="club_branch">
                                <option value="">Выберите филиал</option>
                                {% for cb in club_branches %}
                                    <option value="{{ cb }}" {% if cb == club_branch %}selected{% endif %}>{{ cb }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="start_datetime" class="col-sm-3 col-form-label">Дата от:</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" id="start_datetime" name="start_datetime" value="{{ start_datetime }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="end_datetime" class="col-sm-3 col-form-label">Дата до:</label>
                        <div class="col-sm-9">
                            <input type="datetime-local" class="form-control" id="end_datetime" name="end_datetime" value="{{ end_datetime }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="use_cashback" class="col-sm-3 col-form-label">Оплата бонусами:</label>
                        <input type="checkbox" align="center" id="use_cashback" name="use_cashback"{% if use_cashback %} checked{% endif %}>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-primary mt-4">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-respopnsive">
                <table class="table table-bordered table-striped mt-4" style="border: 5px solid #dee2e6;">
                    <tbody>
                        <tr>
                            <td style="border: 5px solid #dee2e6;">Общая сумма</td>
                            <td style="border: 5px solid #dee2e6;">{{ total_amount }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-striped mt-4" style="border: 5px solid #dee2e6;">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" style="border: 5px solid #dee2e6;">Филиал</th>
                            <th scope="col" style="border: 5px solid #dee2e6;">UUID брони</th>
                            <th scope="col" style="border: 5px solid #dee2e6;">Дата создания брони</th>
                            <th scope="col" style="border: 5px solid #dee2e6;">Сумма платежа</th>
                            <th scope="col" style="border: 5px solid #dee2e6;">Использовались бонусы</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <td style="border: 5px solid #dee2e6;">{{ booking.club_branch.name }}</td>
                            <td style="border: 5px solid #dee2e6;">{{ booking.uuid }}</td>
                            <td style="border: 5px solid #dee2e6;">{{ booking.created_at }}</td>
                            <td style="border: 5px solid #dee2e6;">{{ booking.sum }}</td>
                            <td style="border: 5px solid #dee2e6;">{{ booking.use_cashback }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

  
    
    
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>
</html>
